# Ignore Visual Studio temporary files
.vs/
*.suo

# Ignore build and output folders
bin/
obj/

# Ignore compiled DLLs, and PDBs
*.dll
*.pdb
*.json

# Ignore other intermediate files
*.cache

# ADD THE DATABASE FILE
!AirlineTicketsSystem/AirlineTicketsSystemGui/Files/AirlineTicketsSystemDatabase.db

